.breadcrumb {
    display: block;
    margin: 20px 0;
    &__block {
        min-height: 30px;
        height: auto;
        display: flex;
        align-items: center;
        gap: 5px 10px;
        flex-wrap: wrap;
        padding: 20px 0;
    }
    &__link {
        color: $black;
        border-bottom: 1px dashed transparent;
        &:hover {
            color: $brown;
            border-bottom: 1px dashed $brown;
        }
    }
    &__item {
        border-bottom: 1px solid $black;
    }
    span {
        display: inline-block;
        height: 16px;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: $black;
    }
    span+span {
        &:before {
            content: "/";
            margin-right: 5px;
        }
    }
}