.dropdown {

    &-group {
        position     : relative;
        display      : flex;
        align-items  : center;
        gap          : 10px;
        width        : 100%;
        max-width    : 190px;
        height       : 44px;
        background   : $brown;
        border-radius: 40px;
        color        : $white;
        cursor       : pointer;
        padding-left : 15px;

        &:hover {
            background: $orange;
            transition: all .3s ease;

            &:after {
                transform: rotate(180deg);
            }
        }

        &:after {
            content        : "";
            display        : flex;
            width          : 20px;
            height         : 20px;
            background     : url("../img/icon-arrow-down.svg") center center no-repeat;
            background-size: contain;
            transition     : all .4s ease;
            position       : absolute;
            right          : 10px;
            top            : 12px;
            filter         : invert(100%) sepia(0%) saturate(0%) hue-rotate(88deg) brightness(101%) contrast(102%);
        }

        span {
            display    : flex;
            align-items: center;
            gap        : 10px;
            width      : 100%;
            max-width  : 100%;
            height     : 44px;
            font-size  : 15px;
            line-height: 14px;
            font-weight: 500;
            color      : $white;

            @media screen and (max-width: $breakpoint1450) {
                font-size: 14px;
            }
        }
    }

    &-selected {
        position     : absolute;
        left         : 0;
        top          : 50%;
        padding-left : 15px;
        padding-right: 20px;
        transform    : translateY(-50%);
        display      : flex;
        align-items  : center;
        gap          : 10px;
        width        : 100%;
        height       : 44px;
        font-size    : 15px;
        line-height  : 14px;
        font-weight  : 500;
        color        : $white;
        border-radius: 40px;

        @media screen and (max-width: $breakpoint1450) {
            font-size: 14px;
        }

        &.selected {
            background: $red;
        }
    }

    &-menu {
        position      : absolute;
        z-index       : 1;
        position      : absolute;
        display       : flex;
        flex-direction: column;
        gap           : 5px;
        left          : 0;
        top           : 100%;
        min-width     : 100%;
        width         : max-content;
        background    : $brownLight;
        box-shadow    : none;
        z-index       : -2;
        opacity       : 0;
        border-radius : 8px;
        overflow      : hidden;
        border-top    : 3px solid $white;
        transition    : all .5s ease;
        transform     : translateY(100px);
        padding       : 10px;
    }

    &-group:hover &-menu {
        display   : flex;
        z-index   : 1;
        opacity   : 1;
        transform : translateY(0px);
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    }

    &-menu a {
        padding        : 0 5px;
        text-decoration: none;
        position       : relative;
        font-size      : 14px;
        line-height    : 26px;
        color          : $black;
        transition     : all .3s ease;
        border-bottom  : 1px solid transparent;
        display        : block;

        &:after {
            content   : "";
            display   : block;
            width     : 0;
            height    : 1px;
            background: $black;
            position  : absolute;
            bottom    : 0;
            left      : 0;
            transition: all .3s ease;
            opacity   : 0;
        }
    }

    &-menu a:hover {
        &:after {
            width  : 100%;
            opacity: 1;
        }
    }
}