.filter {
    &__block {
        border       : 2px solid $brown;
        border-radius: 40px;
        padding      : 0 30px;

        @media screen and (max-width: $breakpoint768) {
            padding      : 0 20px;
            border-radius: 35px;
        }

        @media screen and (max-width: $breakpoint577) {
            padding      : 0 10px;
            border-radius: 30px;
        }

        &.active {
            .filter__bottom {
                display: flex;
            }

            .filter__top-link {
                border-bottom: 1px solid $black;

                &:after {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__top {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        padding        : 20px 0;

        @media screen and (max-width: $breakpoint577) {
            padding: 10px 0;
        }

        @media screen and (max-width: $breakpoint992) {
            flex-direction: column;
        }

        &-link {
            text-transform: uppercase;
            color         : $black;
            font-weight   : 500;
            display       : flex;
            gap           : 10px;
            align-items   : center;
            line-height   : 30px;

            &:after {
                content        : "";
                display        : flex;
                width          : 20px;
                height         : 20px;
                background     : url("../img/icon-arrow-down.svg") center center no-repeat;
                background-size: contain;
                margin-left    : -5px;
                margin-right   : 5px;
                transition     : all .4s ease;
            }

            &:hover {
                &:after {
                    transform: rotate(180deg);
                }
            }
        }
    }

    &__bottom {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        padding-top    : 25px;
        display        : none;
        transition     : all .4s ease;

        padding: 25px 0 20px;

        @media screen and (max-width: $breakpoint768) {
            padding: 20px 0 20px;
        }

        @media screen and (max-width: $breakpoint577) {
            padding       : 10px 0 10px;
            border-radius : 30px;
            flex-direction: column;
            gap           : 20px;
            align-items   : flex-start;
        }
    }

    &__button {
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding        : 16px 24px;
        width          : fit-content;
        height         : 48px;
        background     : $brown;
        border-radius  : 8px;
        color          : $white;
        font-size      : 16px;
        font-weight    : 500;
        line-height    : 20px;
        font-family    : $fontMain;
        transition     : all .3s ease;
        border         : 1px solid $brown;

        &-clear {
            background: transparent;
            border    : 1px solid $brown;
            color     : $brown;
        }

        @media screen and (max-width: $breakpoint992) {
            height   : 44px;
            font-size: 15px;
        }

        @media screen and (max-width: $breakpoint768) {
            font-weight: 400;
        }

        &:hover {
            background: $orange;
            color     : $white;
            border    : 1px solid $orange;
        }
    }

    &__item {
        display    : flex;
        align-items: center;
        gap        : 10%;
        width      : calc(100% - 300px);

        @media screen and (max-width: $breakpoint1200) {
            gap: 30px;
        }

        @media screen and (max-width: $breakpoint992) {
            width: 100%;
        }

        @media screen and (max-width: $breakpoint577) {
            flex-direction: column;
            gap: 15px;

            .dropdown-group {
                max-width: 100%;
            }
        }

        &-buttons {
            width       : 300px;
            padding-left: 30px;
            margin-left : 30px;
            position    : relative;

            @media screen and (max-width: $breakpoint992) {
                width       : 100%;
                padding-left: 0;
                margin-left : 0;
                padding-top : 20px;
                margin-top  : 20px;
            }

            @media screen and (max-width: $breakpoint577) {
                flex-direction: row;
                justify-content: center;
                padding-top: 15px;
                margin-top: 15px;
            }

            &:before {
                content   : "";
                position  : absolute;
                left      : 0;
                top       : -20px;
                display   : block;
                width     : 1px;
                height    : calc(100% + 40px);
                background: $brown;

                @media screen and (max-width: $breakpoint992) {
                    top   : 0;
                    left  : -30px;
                    width : calc(100% + 60px);
                    height: 1px;
                }

                @media screen and (max-width: $breakpoint768) {
                    left : -20px;
                    width: calc(100% + 40px);
                }

                @media screen and (max-width: $breakpoint577) {
                    left : -10px;
                    width: calc(100% + 20px);
                }
            }
        }
    }
}