.footer {
    display   : block;
    background: $brown;
    color     : $white;
    padding   : 50px 0 30px;

    // height    : 596px;
    @media screen and (max-width: $breakpoint1450) {
        padding: 30px 0;
    }

    &__block {
        display              : grid;
        grid-template-columns: repeat(5, 1fr);
        gap                  : 30px;

        // @media screen and (max-width: $breakpoint1450) {
        //     gap: 20px;
        // }

        // @media screen and (max-width: $breakpoint992) {
        //     grid-template-columns: repeat(2, 1fr);
        // }

        // @media screen and (max-width: $breakpoint577) {
        //     grid-template-columns: repeat(1, 1fr);
        //     text-align           : center;
        // }
    }

    &__container {
        border-top: 1px solid $white;
        margin-top: 25px;
    }

    &__item {

        &-logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            width     : fit-content;
            text-align: center;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-transform: uppercase;
            color: $white;
            transition: all .3s ease;
            
            img {
                transition: all .3s ease;
            }

            &:hover {
                color: $white;

                img {
                    filter: invert(83%) sepia(100%) saturate(4%) hue-rotate(154deg) brightness(209%) contrast(100%);
                }
            }
        }

        &-title {
            line-height  : 20px;
            font-weight  : 500;
            font-size    : 16px;
            color        : $white;
            margin-top   : 20px;
            margin-bottom: 15px;

            // @media screen and (max-width: $breakpoint1450) {
            //     font-size: 21px;
            // }

            // @media screen and (max-width: $breakpoint1200) {
            //     font-size: 19px;
            // }

            // @media screen and (max-width: $breakpoint577) {
            //     font-size : 18px;
            //     margin-top: 10px;
            // }
        }

        &-list {
            font-size    : 14px;
            line-height  : 20px;
            color        : $white;
            margin-bottom: 30px;

            // @media screen and (max-width: $breakpoint1200) {
            //     font-size  : 16px;
            //     line-height: 26px;
            // }

            // @media screen and (max-width: $breakpoint577) {
            //     padding-left: 0;
            // }

            // @media screen and (max-width: $breakpoint577) {
            //     margin-bottom: 0;
            //     font-size    : 14px;
            //     line-height  : 16px;

            //     li+li {
            //         margin-top: 8px;
            //     }
            // }

            span {
                padding-left: 10px;
                display     : block;
                margin-top  : 20px;
            }

            a {
                color      : $white;
                display    : inline-block;
                padding    : 0 10px;
                position   : relative;
                line-height: 26px;

                &:after {
                    content   : "";
                    display   : block;
                    width     : 0;
                    height    : 1px;
                    background: $white;
                    position  : absolute;
                    bottom    : 0;
                    left      : 0;
                    transition: all .3s ease;
                    opacity   : 0;
                }

                &:hover {
                    &:after {
                        width  : 100%;
                        opacity: 1;
                    }
                }
            }
        }

        &-rating {
            margin-top: 30px;
        }

        &-social {
            margin-top : 50px;
            display    : flex;
            height     : 30px;
            align-items: center;
            gap        : 20px;

            @media screen and (max-width: $breakpoint577) {
                justify-content: center;
            }

            @media screen and (max-width: $breakpoint577) {
                gap: 10px;
            }

            li {
                display: block;
                width  : 30px;
                height : 30px;
            }

            a {
                display        : flex;
                width          : 100%;
                height         : 100%;
                justify-content: center;
                align-items    : center;
            }
        }
    }

    &__copyright {
        margin-top: 30px;

        @media screen and (max-width: $breakpoint992) {
            margin-top: 40px;
        }

        @media screen and (max-width: $breakpoint577) {
            text-align: center;
        }

        &-text {
            padding-left: 10px;
            height      : 36px;
            font-size   : 14px;
            line-height : 20px;
            color       : $white;
            display     : flex;
            align-items : center;

            // @media screen and (max-width: $breakpoint1200) {
            //     font-size  : 16px;
            //     line-height: 20px;
            // }

            // @media screen and (max-width: $breakpoint992) {
            //     padding-left: 0;
            // }

            // @media screen and (max-width: $breakpoint577) {
            //     font-size: 14px;
            // }

            a {
                color      : $white;
                display    : inline-block;
                padding    : 0 5px;
                position   : relative;
                line-height: 26px;

                &:after {
                    content   : "";
                    display   : block;
                    width     : 0;
                    height    : 1px;
                    background: $white;
                    position  : absolute;
                    bottom    : 0;
                    left      : 0;
                    transition: all .3s ease;
                    opacity   : 0;
                }

                &:hover {
                    &:after {
                        width  : 100%;
                        opacity: 1;
                    }
                }
            }
        }
    }
}