.form {
    display       : flex;
    flex-direction: column;
    gap           : 10px;

    &__title {
        font-size    : 36px;
        line-height  : 48px;
        text-align   : center;
        margin-bottom: 20px;

        @media screen and (max-width: $breakpoint1450) {
            font-size  : 34px;
            line-height: 44px;
        }

        @media screen and (max-width: $breakpoint1200) {
            font-size  : 32px;
            line-height: 42px;
        }

        @media screen and (max-width: $breakpoint992) {
            font-size  : 28px;
            line-height: 38px;
        }

        @media screen and (max-width: $breakpoint768) {
            font-size  : 24px;
            line-height: 32px;
        }

        @media screen and (max-width: $breakpoint577) {
            font-size  : 20px;
            line-height: 28px;
        }
    }

    &__group {
        display              : grid;
        grid-template-columns: repeat(2, 1fr);
        gap                  : 15px;
        margin-bottom        : 20px;
    }

    &__inputs {
        display       : flex;
        flex-direction: column;
        gap           : 10px;
        align-items   : center;

        input {
            display       : flex;
            flex-direction: row;
            align-items   : center;
            padding       : 12px 24px;
            gap           : 10px;
            width         : 100%;
            height        : 44px;
            border-radius : 12px;
            border        : 2px solid $brownLight;
            font-size     : 16px;
            line-height   : 20px;
            font-weight   : 500;
            color         : $black;
            transition    : all .3s ease;

            &:focus,
            &:focus-visible {
                border : 2px solid $brown;
                outline: none;
            }
        }
    }

    &__comment {
        display       : flex;
        flex-direction: column;
        gap           : 10px;
        height        : 100%;

        input,
        textarea {
            display       : flex;
            flex-direction: row;
            align-items   : center;
            padding       : 12px 24px;
            gap           : 10px;
            width         : 100%;
            height        : 44px;
            border-radius : 12px;
            border        : 2px solid $brownLight;
            font-size     : 16px;
            line-height   : 20px;
            font-weight   : 500;
            color         : $black;
            transition    : all .3s ease;

            &:focus,
            &:focus-visible {
                border : 2px solid $brown;
                outline: none;
            }
        }

        textarea {
            height       : 100%;
            border-radius: 12px;
        }

        &-agree {
            width    : 100%;
            max-width: 450px;

            p {
                font-size  : 14px;
                line-height: 16px;

                a {
                    color        : $black;
                    border-bottom: 1px solid $black;
                    transition   : all .3s ease;

                    &:hover {
                        border-bottom: 1px dashed $brown;
                        color        : $brown;
                    }
                }
            }
        }
    }

    &__submit {
        margin-top     : 10px;
        display        : flex;
        flex-direction : row;
        justify-content: center;
        align-items    : center;
        padding        : 16px 24px;
        height         : 52px;
        background     : $brown;
        border-radius  : 8px;
        font-size      : 16px;
        line-height    : 20px;
        font-weight    : 500;
        color          : $white;
        transition     : all .3s ease;
        width          : fit-content;

        @media screen and (max-width: $breakpoint1200) {
            height: 48px;
        }

        @media screen and (max-width: $breakpoint992) {
            height: 44px;
        }

        @media screen and (max-width: $breakpoint768) {
            height: 40px;
        }

        &:hover {
            background: $orange;
        }
    }
}