.slider {
    height       : calc(100vh - 210px);
    width        : 100%;
    position     : relative;
    margin-bottom: 70px;
    z-index: 0;

    @media screen and (max-width: $breakpoint1450) {
        height: calc(100vh - 160px);
    }

    @media screen and (max-width: $breakpoint768) {
        height: calc(100vh - 120px);
    }

    &__bg {
        position           : absolute;
        left               : 0;
        top                : 0;
        height             : 100%;
        width              : 100%;
        background-position: center bottom;
        background-repeat  : no-repeat;
        background-size    : cover;
        transform          : translateY(-60px);
        z-index            : -1;
    }

    &__container {
        height  : 100%;
        position: relative;
    }

    &__block {
        position: relative;
    }

    & .swiper-pagination-bullets,
    & .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 15px;
    }

    & &__wrapper {
        width : 100%;
        height: calc(100vh - 210px);

        @media screen and (max-width: $breakpoint1450) {
            height: calc(100vh - 160px);
        }

        @media screen and (max-width: $breakpoint768) {
            height: calc(100vh - 120px);
        }
    }

    &__item {

        &-img {
            width        : 50%;
            height       : 100%;
            display      : flex;
            align-items  : center;
            position     : absolute;
            left         : 20px;
            top          : 0;
            bottom       : 0;
            margin-top   : auto;
            margin-bottom: auto;
            transform    : translateY(-30px);

            @media screen and (max-width: $breakpoint768) {
                width    : 100%;
                height   : 50%;
                bottom   : 45%;
                transform: translateY(0);
                left     : 0;
            }

            img {
                width     : 100%;
                height    : 100%;
                object-fit: contain;
            }
        }

        &-text {
            position      : absolute;
            right         : 20px;
            top           : 0;
            bottom        : 0;
            width         : 45%;
            height        : fit-content;
            max-width     : 620px;
            background    : rgba(204, 189, 175, 0.9);
            border-radius : 40px;
            padding       : 60px 45px;
            display       : flex;
            flex-direction: column;
            gap           : 40px;
            margin-top    : auto;
            margin-bottom : auto;

            @media screen and (max-width: $breakpoint1200) {
                gap          : 20px;
                padding      : 40px 35px;
                border-radius: 35px;
            }

            @media screen and (max-width: $breakpoint992) {
                padding      : 30px;
                border-radius: 25px;
            }

            @media screen and (max-width: $breakpoint768) {
                padding        : 20px 20px 30px;
                background     : rgba(204, 189, 175, 1);
                border-radius  : 0;
                max-width      : 100%;
                margin-bottom  : 60px;
                left           : 0;
                width          : calc(100% + 40px);
                height         : 35%;
                display        : flex;
                flex-direction : column;
                justify-content: center;
            }
        }

        &-title {
            font-size     : 40px;
            line-height   : 48px;
            font-family   : $fontSecondary;
            text-transform: uppercase;

            @media screen and (max-width: $breakpoint1450) {
                font-size  : 36px;
                line-height: 44px;
            }

            @media screen and (max-width: $breakpoint1200) {
                font-size  : 30px;
                line-height: 40px;
            }

            @media screen and (max-width: $breakpoint992) {
                font-size  : 24px;
                line-height: 32px;
            }

            @media screen and (max-width: $breakpoint768) {
                font-size  : 20px;
                line-height: 26px;
            }

            @media screen and (max-width: $breakpoint577) {
                font-size  : 16px;
                line-height: 20px;
            }
        }

        &-subtitle {
            font-weight: 500;
            font-size  : 24px;
            line-height: 32px;

            @media screen and (max-width: $breakpoint1450) {
                font-size  : 22px;
                line-height: 30px;
            }

            @media screen and (max-width: $breakpoint1200) {
                font-size  : 18px;
                line-height: 26px;
            }

            @media screen and (max-width: $breakpoint992) {
                font-size  : 17px;
                line-height: 22px;
            }

            @media screen and (max-width: $breakpoint768) {
                font-size  : 16px;
                line-height: 20px;
            }

            @media screen and (max-width: $breakpoint577) {
                font-size  : 15px;
                line-height: 16px;
            }
        }

        &-btn {
            display        : flex;
            justify-content: center;
            align-items    : center;
            padding        : 0 24px;
            width          : 136px;
            line-height    : 52px;
            background     : $brown;
            border-radius  : 8px;
            color          : $white;
            font-weight    : 500;
            font-size      : 16px;

            @media screen and (max-width: $breakpoint1450) {
                height     : 48px;
                line-height: 48px;
                font-weight: 400;
            }

            @media screen and (max-width: $breakpoint1200) {
                font-size: 15px;
            }

            @media screen and (max-width: $breakpoint768) {
                font-size  : 15px;
                height     : 40px;
                line-height: 40px;
            }

            &:hover {
                background: $orange;
            }

        }
    }
}