.steps {
    display: block;
    margin : 50px 0;
    padding: 30px 0;

    @media screen and (max-width: $breakpoint1450) {
        margin: 30px 0;
    }

    @media screen and (max-width: $breakpoint768) {
        margin: 20px 0;
    }

    &__container {
        background: $brownLight;
        padding   : 55px 0 50px;

        @media screen and (max-width: $breakpoint768) {
            padding: 30px 0;
        }
    }

    &__block {
        overflow: hidden;
        position: relative;
        width   : 100%;

        @media screen and (max-width: $breakpoint1200) {
            padding-bottom: 70px;
        }

        .swiper-button-next,
        .swiper-button-prev {
            display: none;

            @media screen and (max-width: $breakpoint1200) {
                display: flex;
            }
        }
    }

    & &__wrapper {
        gap                  : 10px;
        display              : grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin-top           : 30px;

        @media screen and (max-width: $breakpoint1200) {
            display: flex;
            gap    : 0;
        }
    }

    &__item {
        display       : flex;
        flex-direction: column;
        gap           : 20px;

        @media screen and (max-width: $breakpoint992) {
            max-width   : 450px;
            width       : 100%;
            margin-left : auto;
            margin-right: auto;
        }

        &:not(:last-child) {
            position: relative;

            &:after {
                content   : "";
                display   : block;
                width     : calc(100% - 80px);
                left      : 80px;
                top       : 35px;
                height    : 2px;
                background: $orange;
                position  : absolute;

                @media screen and (max-width: $breakpoint1450) {
                    left : 70px;
                    width: calc(100% - 70px);
                }

                @media screen and (max-width: $breakpoint1200) {
                    display: none;
                }
            }
        }

        &-number {
            font-size      : 32px;
            line-height    : 36px;
            font-weight    : 500;
            display        : flex;
            justify-content: center;
            align-items    : center;
            color          : $white;
            width          : 70px;
            height         : 70px;
            border-radius  : 50%;
            background     : $orange;
            margin-bottom  : 16px;

            @media screen and (max-width: $breakpoint1450) {
                width      : 60px;
                height     : 60px;
                font-size  : 30px;
                line-height: 34px;
            }

            @media screen and (max-width: $breakpoint577) {
                margin-left : auto;
                margin-right: auto;
            }

        }

        &-title {
            font-size    : 16px;
            line-height  : 20px;
            font-weight  : 500;
            padding-right: 10%;

            @media screen and (max-width: $breakpoint1200) {
                padding-right: 0;
            }
        }

        &-desc {
            font-size    : 14px;
            line-height  : 20px;
            padding-right: 10%;

            @media screen and (max-width: $breakpoint1200) {
                padding-right: 0;
            }
        }
    }
}