.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom      : 0;
    left        : 0;
    width       : 100%;
    width       : fit-content;
    margin-left : auto;
    margin-right: auto;
    right       : 0;
}

.swiper-pagination-bullet {
    background: $brown;
    opacity   : 1;
    width     : 16px;
    height    : 16px;
    overflow  : hidden;
}

.swiper-pagination-bullet-active {
    background: $orange;
}

.swiper-button-prev,
.swiper-button-next {
    bottom         : 0px;
    right          : 70px;
    top            : auto;
    left           : auto;
    width          : 46px;
    height         : 46px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    background     : $brown;
    border-radius  : 50%;
    color          : $white;
    transition     : all .3s ease;

    &:after {
        font-weight: 600;
        font-size  : 24px;
    }

    &:hover {
        background: $orange;
    }
}


.swiper-button-prev {
    @media screen and (max-width: $breakpoint577) {
        left: calc(50% - 55px);
    }
}

.swiper-button-next {
    right: 10px;
    @media screen and (max-width: $breakpoint577) {
        right: calc(50% - 55px);
    }
}