.tabs {
    width: 100%;

    &__header {
        display        : flex;
        justify-content: center;
        align-items    : center;
        padding        : 16px 32px;
        gap            : 30px;
        width          : max-content;
        height         : 76px;
        margin-left    : auto;
        margin-right   : auto;
        background     : rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(5.1px);
        border-radius  : 80px;

        @media screen and (max-width: $breakpoint1450) {
            gap: 20px;
        }

        @media screen and (max-width: $breakpoint1200) {
            padding: 15px;
            gap    : 15px;
            height : auto;
        }

        @media screen and (max-width: $breakpoint992) {
            width  : fit-content;
            gap    : 10px;
            padding: 10px;
        }

        @media screen and (max-width: $breakpoint768) {
            flex-wrap : wrap;
            padding   : 5px;
            background: transparent;
        }


        @media (max-width: 768px) {
            flex-wrap: wrap;
        }

        &-item {
            display        : flex;
            flex-direction : row;
            justify-content: center;
            align-items    : center;
            padding        : 12px 24px;
            height         : 44px;
            background     : $brown;
            border-radius  : 40px;
            cursor         : pointer;
            font-size      : 16px;
            line-height    : 20px;
            font-weight    : 500;
            color          : $white;
            margin         : 0;
            transition     : all .3s ease;

            @media screen and (max-width: $breakpoint1450) {
                font-weight: 400;
            }

            @media screen and (max-width: $breakpoint1200) {
                font-size: 15px;
                padding  : 10px 15px;
            }

            @media screen and (max-width: $breakpoint768) {
                font-size: 14px;
                padding  : 5px 15px;
            }

            &:hover {
                background: $brownLight;
                color     : $black;
            }

            &.active {
                background: $orange;
                color     : $white;
            }
        }
    }

    &__content {
        margin-top     : 50px;
        display        : flex;
        justify-content: center;
        align-items    : center;
        font-size      : 75px;
    }
}