.to-top {
    display         : none;
    position        : fixed;
    bottom          : 15px;
    right           : 15px;
    align-items     : center;
    justify-content : center;
    width           : 45px;
    height          : 45px;
    background-color: $orange;
    color           : $white;
    border          : none;
    border-radius   : 5px;
    cursor          : pointer;
    z-index         : 8;
    transition      : all .5s ease;
    border          : 1px solid $white;

    &:hover {
        background: $brown;
    }
}